<div>
  <div>
    <h1>Usuarios</h1>
    <ul>
      {{#if isAdmin}}
        {{#each usuarios}}
          {{#if this.active}}
            <li> {{this.nombre}} {{this.apellido}}</li>
          {{else}}
            <li>
              {{this.nombre}}
              {{this.apellido}}
              (inactivo)</li>

          {{/if}}
        {{/each}}
      {{else}}
        <li>No tiene permisos para ver esta lista</li>
      {{/if}}
    </ul><br />
  </div>

</div>